%section
  %p
  %section
    %h1= @post.title
    %p
    %h4= @post.body
    %p
  %section
    = link_to 'Edit post', edit_post_path(@post)
  %h2 Comments:
  %section
    %p
    - if @post.comments.empty?
      There are no comments to show!
    - else
      = render @post.comments, post: @post, comment: @comment
  %p
  %h2 Add a comment:
  %p
  = render 'comments/form', post: @post, comment: @post.comments.build
